/* src/App.css */
.App {
  text-align: center;
  margin-top: 50px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  padding: 10px;
  margin: 5px 10px 10px 0;
  height: 30px;
  width: 50%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="color"] {
  width: 50px;
  height: 50px;
  border: none;
  margin: 5px 10px 10px 0;
}

textarea {
  height: 60px;
  resize: none;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  width: 6rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin: 10px 30px;
  border-radius: 15px;
}

li button {
  align-self: flex-end;
  background-color: #8b32ff;
  margin-top: 10px;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 90px;
  height: 30px;
}

h3 {
  margin: 0 0 5px 0;
}

p {
  margin: 0;
}

li.completed {
  text-decoration: line-through;
}

.filter-buttons {
  margin: 20px 0;
}

.filter-buttons button {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

